@using Microsoft.AspNetCore.Components.Web
@using Soenneker.Blazor.Extensions.EventCallback
@using Soenneker.Quark.Buttons
@using Soenneker.Quark.Enums.ButtonTypes
@using Soenneker.Quark.Spans

@inherits Soenneker.Quark.Element

<Button @attributes="BuildAttributes()" OnClick="HandleToggle" Type="@ButtonType.Button" data-bs-toggle="collapse" data-bs-target="@Target" aria-controls="@Target" aria-expanded="false" aria-label="Toggle navigation">
    <Span class="navbar-toggler-icon"></Span>
</Button>

@code {
    [Parameter]
    public string? Target { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnToggle { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        AppendToClassAttr(attributes, "navbar-toggler");

        return attributes;
    }

    private async Task HandleToggle(MouseEventArgs args)
    {
        await OnToggle.InvokeIfHasDelegate(args);
    }
}
